@model PassionProject_Nith.Models.Artist

<h1>Edit Artist</h1>

<form method="POST" asp-action="Edit">
    <div>
        <label asp-for="ArtistName"></label>
        <input asp-for="ArtistName" />
    </div>
    <div>
        <label asp-for="ArtistBio"></label>
        <input asp-for="ArtistBio" />
    </div>
    <input type="hidden" asp-for="ArtistId" />
    <div>
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>