@model PassionProject_Nith.Models.Track

<h1>Edit Track</h1>

<form method="POST asp-action="Edit">
    <div>
        <label asp-for="TrackTitle"></label>
        <input asp-for="TrackTitle" />
        <span asp-validation-for="TrackTitle" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="TrackLength"></label>
        <input asp-for="TrackLength" />
        <span asp-validation-for="TrackLength" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="AlbumId"></label>
        <input asp-for="AlbumId" />
        <span asp-validation-for="AlbumId" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="TrackId" />
    <div>
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>